
/*navbar*/
.navbar-default{
    transition:500ms ease;
    background:transparent !important;
  }
  .navbar-default.scrolled{
    background: linear-gradient(#ffffff,#FFFDF9) !important;
  }

.navbar-default>img{
    max-width: 50%;
}

.logo{
    width: 50%;
}

/* Header Parallax Element Style*/
.paral {
    min-height: 600px;
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/

    }

    a {
    color: #78b390;
}

/* Paragraph for Parallax Section */
.paral p {
    font-size: 18px;
    color:#f5f5f5;
    text-align: center;
    /*line-height: 60px;*/
    }


    ul.Minipax-Regular {
    color: #42301B;
}

    /* Heading for Parallax Section */
    .paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 72px;
    text-align: center;
    padding-top: 1.5em;
    line-height: 60px;
    margin-bottom: 1em;
    font-family: 'Junicode-BoldItalicCondensed';
    }


    .paral h2 {
    color: #42301B;
    font-size: 24px;
    text-align: center;
    padding-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    }

    /* Image for Parallax Section */
    .paralsec {
      background-color: #F3FFF8;
          background-image: url(../img/hero.jpg);
          background-size: contain;
          width: 100%;
          padding-top: 120%;
          background-repeat: no-repeat;
          background-attachment: scroll;
          background-position: bottom;
          min-height: 100vh;
    }
    .paralsec1 {

        background-color: #f1a888;
        background-size: 100vh;
        padding-top: 20vh;
        padding-bottom: 20vh;
    }

    .paralsec2 {
        min-height: 100vh;
        background-image: url("../img/Jots.png");
        background-color: #fbf3ab;
        background-position:  100%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 10vh;
    }
    .paralsec2-1 {
        min-height: 100vh;
        background-color: #fbf3ab;
        background-position:  100%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 10vh;
    }
    .paralsec3 {
        min-height: 100vh;
        background-image: url("../img/Rag.png");
        background-color: #97c8ff;
        background-position:  0%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 10vh;
    }
    .paralsec3-1 {
        min-height: 100vh;
        background-color: #97c8ff;
        background-position:  0%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 10vh;
    }

    .paralsec5 {
        min-height: 100vh;
        background-image: url("../img/Amb.png");
        background-color: #78b390 !important;
        background-position:  0%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .paralsec5-1 {
        min-height: 100vh;
        background-color: #78b390 !important;
        background-position:  0%;
        background-size: contain;
        background-repeat: no-repeat;

    }

    /* avatar */
    .avatar {
        width: 65%;    
    }
    .row{
        margin-right: 0px !important;
    }
    #section-1 p {
      /* padding-right: 20%; */
      /* padding-left: 20%; */
      padding: 0em 2em;
      max-width: 600px;
      margin: auto;
      color: #812700;
  }

    #section-2 p{
        padding-right: 20%;
        padding-left: 20%;
        text-align: left;
        margin: auto;
        color: #67451c;
    }

    #section-3 p{
        padding-right: 20%;
        padding-left: 20%;
        margin: auto;
        text-align: left;
        color: #213872;
    }
    #section-3 button {
      font-family: 'Junicode';
      color: white;
      font-size: 36px;
      line-height: 0px;
  }
    #section-4 p{
        color: #42301B;
        margin: auto;
        max-width: 30em;
        padding: 1EM 2EM;
        text-align: left;
            background: #fffefad9;
    }
    #section-4 h1{
        color: #42301B;
        font-weight: 1000;
    }

    .whitebg{

          background: #fffefad9;
    }

    .debrahmamising{
      min-height: 100vh;
          background-color: #FFFEFA;
          background-image: url(../img/debrahim_left.png), url(../img/debrahim_right.png);
          background-position: left top, right top;
          background-repeat: repeat-y;
          background-size: 20vw;
          background-attachment: scroll;
    }
    .about{
        min-height: 100vh;
        background-color: #FFFEFA;
    }
    #section-5 p{
        color: #34281b;
        text-align: left;
    }
    #section-5-1 p{
        color: #34281b !important;
        text-align: left;
    }
    #sub-title{

    }
    /* Remove Bottom Margin from Jumbotron */
.jumbotron{margin-bottom: 0;}

div#accordionExample {
    margin: auto;
    max-width: 35em;
}
.accordion-button
{
  background-color: #FFFEFA;
  font-family: 'Junicode-BoldItalicCondensed';
  font-size: 30px;
  padding-top: 0em;
  color: #42301B;
  border-top: 1px solid;
  border-color: #C4C4C4;
}
.accordion-body{
  background-color: #78B390;
  color: white;
  border-top: 1px solid;
  border-color: white;
  padding: 2em 2em 3em 2em;
}

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #78B390;
  box-shadow: none;
}

.accordion-item {
    background-color: #fff;
    border: none;
}
.accordion-button:focus {
  border:none;
}

.nav-link {
    display: block;
    font-family: "Junicode-Bold";
    font-size:24px;
    padding: .5rem 1rem;
    color: #42301B;
    line-height: 2em;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.dark {

  color: #34281B;
}

.white {

  color: white;
}

.pad15 {

  padding-top: 15vh;
}
@media only screen and (max-width: 600px) {
    .pad15  {
        padding-top: 1vh;
    } 
}
.pad10 {

  padding-top: 10vh;
}

@media only screen and (max-width: 600px) {
    .pad10  {
        padding-top: 1vh;
    } 
}
.pad30{
    padding-top: 30vh;
}
@media only screen and (max-width: 600px) {
    .pad30 {
        padding-top: 1vh;
    } 
}

hr{
  width: 5%;
    padding: 1px;
    color: #42301B;
}

.nav-link:focus, .nav-link:hover {
    color: #54BF80;
}

/* About us page */
p.Junicode.Aboutus_header {
    font-family: Junicode-Bold;
    font-size: 24px;
    line-height: 1.3em;
}

/*  Home Page */
a.opencallsubtext {
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 0px;
    font-family: Junicode-BoldItalic;
}


/* Font styles */
strong {
    font-weight: bolder;
    font-size: 24px;
    line-height: 1.3em;
    font-family: 'Junicode-Bold';
}

/*            FONTS           */

a.contacts{
    font-family: 'Junicode';
    color: white;
    font-size: 24px;
    text-decoration: none;
    line-height: 0px;
}


/* Responsive */
@media (max-width: 768px)
{
  #section-2 p {
      padding-right: 10%;
      padding-left: 10%;
      text-align: left;
      margin: auto;
      color: #67451c;
  }

  #section-3 p {
      padding-right: 10%;
      padding-left: 10%;
      text-align: left;
      margin: auto;
      color: #67451c;
  }

  .nav-link {
    font-size: 18px;
    padding: .25rem 0.5rem;

}

.paral h1 {
    font-size: 54px;
    line-height: 50px;
  }


}

@media (max-width: 420px)
{
  #section-2 p {
      padding-right: 7%;
      padding-left: 7%;

  }

  #section-3 p {
      padding-right: 7%;
      padding-left: 7%;

  }

  strong {
    font-size: 20px;
}

  .nav-link {
    font-size: 16px;
    padding: 0.5rem 0.25rem;

}

.paral h1 {
    font-size: 48px;
    line-height: 46px;
  }
  a {

    font-size: 14px;
}


}


.Basteleur-Bold{
    font-family: Basteleur-Bold;
}
.Junicode-Bold{
    font-family: Junicode-Bold;
}
.Junicode-BoldItalic{
    font-family: Junicode-BoldItalic;
}
.Junicode-Italic{
    font-family: Junicode-Italic;
}
.Junicode{
    font-family: Junicode;
}
.Junicode-BoldItalic{
    font-family: Junicode-BoldItalic;
}
.Minipax-Bold{
    font-family: Minipax-Bold;
}
.Minipax-Medium{
    font-family: Minipax-Medium;
}
.Minipax-Regular{
    font-family: Minipax-Regular;
}
.Minipax-SemiBold{
    font-family: Minipax-SemiBold;
}

@font-face {
    font-family: Basteleur-Bold;
    src: url(../font/basteleur-master/fonts/otf/Basteleur-Bold.otf);
 }
@font-face {
    font-family: Junicode-Bold;
    src: url(../font/junicode/Junicode-Bold.ttf);
}

@font-face {
    font-family: Junicode-BoldItalic;
    src: url(../font/junicode/Junicode-BoldItalic.ttf);
}

@font-face {
    font-family: Junicode-BoldItalicCondensed;
    src: url(../font/junicode/Junicode-BoldItalicCondensed.ttf);
}

@font-face {
    font-family: Junicode-BoldCondensed;
    src: url(../font/junicode/Junicode-BoldCondensed.ttf);
}
@font-face {
    font-family: Junicode-Italic;
    src: url(../font/junicode/Junicode-Italic.ttf);
}
@font-face {
    font-family: Junicode;
    src: url(../font/junicode/Junicode.ttf);
}
@font-face {
    font-family: Minipax-Bold;
    src: url(../font/Minipax-master/fonts/otf/Minipax-Bold.otf);
}
@font-face {
    font-family: Minipax-Medium;
    src: url(../font/Minipax-master/fonts/otf/Minipax-Medium.otf);
}
@font-face {
    font-family: Minipax-Regular;
    src: url(../font/Minipax-master/fonts/otf/Minipax-Regular.otf);
}
@font-face {
    font-family: Minipax-SemiBold;
    src: url(../font/Minipax-master/fonts/otf/Minipax-SemiBold.otf);
}
